<!DOCTYPE html>
<html lang="en">
<head>
    {% include "hospital/head.html" %}
    {% include "hospital/login_sign_head.html" %}
</head>

<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

    {% include "hospital/header.html" %}
    {% load crispy_forms_tags %}
  <!--- appointment  ---------->
    <div class="container py-5">
    <h1>Request Appointment</h1>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
    </div>

  {% include "hospital/footer.html" %}
</body>

</html>
