{% load static %}

<html lang="en">
<head>

     {% include "hospital/head.html" %}

</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

    {% include "hospital/header.html" %}

    <div class="container">

        <h1>Appointments</h1>

        {% for appointment in appointment_list %}

        <div class="card">
            <div class="card-header">
                {{ appointment }}
            </div>
            <div class="card-body">
              <p class="card-text">
                <strong>Subject:</strong> {{ appointment.subject }}
                <br/>
                <strong>Patient:</strong> {{ appointment.patientId }}
                <br/>
              </p>
            </div>
          </div>
        {% endfor %}
    </div>


    {% include "hospital/footer_patients.html" %}
</body>

</html>