<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>

    {% include "hospital/head.html" %}
    {% include "hospital/login_sign_head.html" %}


</head>

<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

    {% include "hospital/header.html" %}


  <!--- login page for admin by admin(sumit)  ---------->
  <form method="post">
    {% csrf_token %}
    <div class="container register-form">
      <div class="form">
        <div class="note">
          <p>Admin Login Page</p>
        </div>

        <div class="form-content">
          <div class="row">
            <div class="col-md-6">

              <div class="form-group">
                {% render_field form.username class="form-control" placeholder="Username" %}
              </div>

            </div>
            <div class="col-md-6">

              <div class="form-group">
                {% render_field form.password class="form-control" placeholder="Password" %}
              </div>

            </div>
          </div>
          <button type="submit" class="btnSubmit">Login</button>
        </div>
      </div>
    </div>

  </form>

  <br><br><br>

  {% include "hospital/footer.html" %}
</body>

</html>
