{% load static %}

<html lang="en">
<head>

     {% include "hospital/head.html" %}

</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

    {% include "hospital/header.html" %}


     <!-- HOME -->
     <section id="home" class="slider" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                         <div class="owl-carousel owl-theme">
                              <div class="item item-first">
                                   <div class="caption">
                                        <div class="col-md-offset-1 col-md-10">
                                             <h3>Let's make your life happier</h3>
                                             <h1>Healthy Living</h1>
                                             <a href="#team" class="section-btn btn btn-default smoothScroll">Meet Our Doctors</a>
                                        </div>
                                   </div>
                              </div>

                              <div class="item item-second">
                                   <div class="caption">
                                        <div class="col-md-offset-1 col-md-10">
                                             <h3>Welcome to Professional Medical Service</h3>
                                             <h1>New Lifestyle</h1>
                                             <a href="#about" class="section-btn btn btn-default btn-gray smoothScroll">More About Us</a>
                                        </div>
                                   </div>
                              </div>

                              <div class="item item-third">
                                   <div class="caption">
                                        <div class="col-md-offset-1 col-md-10">
                                             <h3>We have a Great Service Records</h3>
                                             <h1>Your Health Benefits</h1>
                                             <a href="#news" class="section-btn btn btn-default btn-blue smoothScroll">Read Stories</a>
                                        </div>
                                   </div>
                              </div>
                         </div>

               </div>
          </div>
     </section>


     <!-- ABOUT -->
     <section id="about">
          <div class="container">
               <div class="row">

                    <div class="col-md-6 col-sm-6">
                         <div class="about-info">
                              <h2 class="wow fadeInUp" data-wow-delay="0.6s">Welcome to Your <i class="fa fa-h-square"></i>ealth Center</h2>
                              <div class="wow fadeInUp" data-wow-delay="0.8s">
                                   <p>Our Doctor are dedicated towards the lives of people and work to make a safe environment.</p>
                              
                              </div>
                              <figure class="profile wow fadeInUp" data-wow-delay="1s">
                                   <img src="{% static 'hospital/images/author-image.jpg' %}" class="img-responsive" alt="">
                                   <figcaption>
                                        <h3>Dr. Jack Brandon</h3>
                                        <p>Chief Principal Doctor</p>
                                   </figcaption>
                              </figure>
                         </div>
                    </div>
                    
               </div>
          </div>
     </section>


     <!-- TEAM -->
     <section id="team" data-stellar-background-ratio="1">
          <div class="container">
               <div class="row">

                    <div class="col-md-6 col-sm-6">
                         <div class="about-info">
                              <h2 class="wow fadeInUp" data-wow-delay="0.1s">Our Doctors</h2>
                         </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="col-md-4 col-sm-6">
                         <div class="team-thumb wow fadeInUp" data-wow-delay="0.2s">
                              <img src="{% static 'hospital/images/team-image1.jpg' %}" class="img-responsive" alt="">

                                   <div class="team-info">
                                        <h3>Toby Danny</h3>
                                        <p>Assitant General Principal</p>
                                        <div class="team-contact-info">
                                             <p><i class="fa fa-phone"></i> 070-060-0480</p>
                                             <p><i class="fa fa-envelope-o"></i> <a href="#">as.medics@surrey.com</a></p>
                                        </div>
                                        <ul class="social-icon">
                                             <li><a href="#" class="fa fa-linkedin-square"></a></li>
                                             <li><a href="#" class="fa fa-envelope-o"></a></li>
                                        </ul>
                                   </div>

                         </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <div class="team-thumb wow fadeInUp" data-wow-delay="0.4s">
                              <img src="{% static 'hospital/images/team-image2.jpg' %}" class="img-responsive" alt="">

                                   <div class="team-info">
                                        <h3>Stewart Jason</h3>
                                        <p>Emergency Medical Principal</p>
                                        <div class="team-contact-info">
                                             <p><i class="fa fa-phone"></i> 090-060-0250</p>
                                             <p><i class="fa fa-envelope-o"></i> <a href="#">emp.medics@surrey.com</a></p>
                                        </div>
                                        <ul class="social-icon">
                                             <li><a href="#" class="fa fa-facebook-square"></a></li>
                                             <li><a href="#" class="fa fa-envelope-o"></a></li>
                                             <li><a href="#" class="fa fa-flickr"></a></li>
                                        </ul>
                                   </div>

                         </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <div class="team-thumb wow fadeInUp" data-wow-delay="0.6s">
                              <img src="{% static 'hospital/images/team-image3.jpg' %}" class="img-responsive" alt="">

                                   <div class="team-info">
                                        <h3>Nisha Mamtani</h3>
                                        <p>Cardiology</p>
                                        <div class="team-contact-info">
                                             <p><i class="fa fa-phone"></i> 050-020-0560</p>
                                             <p><i class="fa fa-envelope-o"></i> <a href="#">cardio.medics@surrey.com</a></p>
                                        </div>
                                        <ul class="social-icon">
                                             <li><a href="#" class="fa fa-twitter"></a></li>
                                             <li><a href="#" class="fa fa-envelope-o"></a></li>
                                        </ul>
                                   </div>

                         </div>
                    </div>
                    
               </div>
          </div>
     </section>


     <!-- NEWS -->
     <section id="news" data-stellar-background-ratio="2.5">
          <div class="container">
               <div class="row">

                    <div class="col-md-12 col-sm-12">
                         <!-- SECTION TITLE -->
                         <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
                              <h2>Latest News</h2>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <!-- NEWS THUMB -->
                         <div class="news-thumb wow fadeInUp" data-wow-delay="0.4s">
                              <a href="news-detail.html">
                                   <img src="{% static 'hospital/images/news-image1.jpg' %}" class="img-responsive" alt="">
                              </a>
                              <div class="news-info">
                                   <span>May 08, 2022</span>
                                   <h3><a href="news-detail.html">About Amazing Technology</a></h3>
                                   <p>We are extremly happy to welcome them as our lead IT solutions team.</p>
                                   <div class="author">
                                        <img src="{% static 'hospital/images/author-image.jpg' %}" class="img-responsive" alt="">
                                        <div class="author-info">
                                             <h5>Jerome Davidson</h5>
                                             <p>CEO / Founder</p>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <!-- NEWS THUMB -->
                         <div class="news-thumb wow fadeInUp" data-wow-delay="0.6s">
                              <a href="news-detail.html">
                                   <img src="{% static 'hospital/images/news-image2.jpg' %}" class="img-responsive" alt="">
                              </a>
                              <div class="news-info">
                                   <span>May 07, 2022</span>
                                   <h3><a href="news-detail.html">Introducing a new healing process</a></h3>
                                   <p>We have tested with the more number of researcher's examined and has been successful.</p>
                                   <div class="author">
                                        <img src="{% static 'hospital/images/author-image.jpg' %}" class="img-responsive" alt="">
                                        <div class="author-info">
                                             <h5>Jason Stewart</h5>
                                             <p>Emergency Medical Principal</p>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <!-- NEWS THUMB -->
                         <div class="news-thumb wow fadeInUp" data-wow-delay="0.8s">
                              <a href="news-detail.html">
                                   <img src="{% static 'hospital/images/news-image3.jpg' %}" class="img-responsive" alt="">
                              </a>
                              <div class="news-info">
                                   <span>April 30, 2022</span>
                                   <h3><a href="news-detail.html">Review Annual Medical Research</a></h3>
                                   <p>We are successful in launching a great initiative to help people and make a better living.</p>
                                   <div class="author">
                                        <img src="{% static 'hospital/images/author-image.jpg' %}" class="img-responsive" alt="">
                                        <div class="author-info">
                                             <h5>Antonio Marcel</h5>
                                             <p>Online Advertising</p>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>

               </div>
          </div>
     </section>
     {% include "hospital/footer.html" %}



</body>
</html>