<!DOCTYPE html>

<!DOCTYPE html>
<html lang="en">
{% load crispy_forms_tags %}
<head>
    {% include "hospital/head.html" %}
    {% include "hospital/login_sign_head.html" %}
</head>

<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">
    {% include "hospital/header.html"%}
     <br>


        <h1>Register</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            {{ patient_form|crispy}}
            <button class="btn btn-primary" type="submit">Register</button>
            <div class="text-left">Do have an account? <a href="/hospital/login">Login here</a></div>
        </form>

    </div>

   
  {% include "hospital/footer.html" %}

</body>
</html>
