{% load static %}

<html lang="en">
<head>

     {% include "hospital/head.html" %}

</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

    {% include "hospital/header.html" %}

    {% if user.is_authenticated %}
    {% if doctor %}
    <div class="container">

        <h1>Patients</h1>

        {% for patient in patient_list %}

        <div class="card">
            <div class="card-header">
                {{ patient }}
            </div>
            <div class="card-body">
              <p class="card-text">
                <strong>Phone number:</strong> {{ patient.phone }}
                <br/>
                <strong>Address:</strong> {{ patient.address }}
                <br/>
              </p>
            </div>
          </div>
        {% endfor %}
    </div> 
    {% else%}
    
      <h1>You don't have access to this page, make sure to log in as Doctor</h1>     

    {% endif%}

    {% else%}
      <h1>You don't have access to this page, make sure to log in as Doctor</h1> 
    {% endif%}

    {% include "hospital/footer_patients.html" %}
</body>
    


</html> 