{% load static %}

<html lang="en">
<head>

     {% include "hospital/head.html" %}

</head>


<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

    {% include "hospital/header.html" %}
    <div class="d-flex align-items-start">
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="btn btn-primary" href="/hospital/myappointments">Appointments</a>
        </div>
        </div>
      </div>
    {% include "hospital/footer_patients.html" %}

</body>

</html>