<!DOCTYPE html>

<!DOCTYPE html>
<html lang="en">
{% load widget_tweaks %}
<head>
    {% include "hospital/head.html" %}
    {% include "hospital/login_sign_head.html" %}
</head>

<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">
    {% include "hospital/header.html"%}
     <br>
     <br>
     <br>
     <br>
     <!--- signup page for patient by admin(sumit)  ---------->
     <form method="post" enctype="multipart/form-data">
       {% csrf_token %}
       <div class="container register-form">
         <div class="form">
           <div class="note">
             <p>Register to Hospital</p>
           </div>
   
           <div class="form-content">
             <div class="row">
               <div class="col-md-6">
                 <div class="form-group">
                   {% render_field UserRegForm.first_name class="form-control" placeholder="First Name" %}
                 </div>
                 <div class="form-group">
                   {% render_field UserRegForm.username class="form-control" placeholder="Username" %}
                 </div>
                 <div class="form-group">
                   {% render_field PatientRegForm.address class="form-control" placeholder="Address" %}
                 </div>
                 <div class="form-group">
                   {% render_field PatientRegForm.description class="form-control" placeholder="Symptoms" %}
                 </div>
                 <div class="form-group">
                   {% render_field PatientRegForm.image required="required" class="form-control" placeholder="Profile Picture" %}
                 </div>
               </div>
               <div class="col-md-6">
                 <div class="form-group">
                   {% render_field UserRegForm.last_name class="form-control" placeholder="Last Name" %}
                 </div>
                 <div class="form-group">
                   {% render_field UserRegForm.password class="form-control" placeholder="Password" %}
                 </div>
                 <div class="form-group">
                   {% render_field PatientRegForm.mobile class="form-control" pattern="[6789][0-9]{9}" placeholder="Contact Number" %}
                 </div>
                 <div class="form-group">
                   {% render_field PatientRegForm.assignedDoctorId class="form-control" placeholder="Doctor" %}
                 </div>
   
               </div>
             </div>
             <button type="submit" class="btnSubmit">Register</button>
             <div class="text-center">Already have an account? <a href="patient_login.html">Login here</a></div>
           </div>
         </div>
       </div>
   
     </form>
   
  {% include "hospital/footer.html" %}

</body>
</html>
